.App {
  text-align: center;
  background-color: #07e72d;
}



 

.App-header {
  min-height: 50vh;
  display: flex;
  
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(85, 9, 9);
}




